{% extends 'base.html.twig' %}

{% block title %}Hello Projet1SymfonyController!{% endblock %}

{% block body %}

{% for message in app.flashes('success') %}
	<div class="alert alert-success text-center>{{ message }}</div>
{% endfor %}

<section class="row employes">
	{% for employes in tabEmployes %}
		<article class="col-md-4 mx-auto text-center border border-dark mb-3 p-3 mt-3 mr-1">
			<h4>{{ employes.id }}</h4>
            <h4>{{ employes.prenom }}</h4>
            <h4>{{ employes.nom }}</h4>
            <h4>{{ employes.telephone }}</h4>
            <h4>{{ employes.email }}</h4>
            <h4>{{ employes.adresse }}</h4>
            <h4>{{ employes.poste }}</h4>
            <h4>{{ employes.salaire }}</h4>
            <h4>{{ employes.datedenaissance }}</h4>
		</article>
		{% endfor %}
	</section>

{% endblock %}
